@using WellCastServer.Models

@{
    ViewBag.Title = "Index";
}

<h2>Application Level Error Messages</h2>

<table>
    <tr>
        <th>
           Code 
        <th>
           Description
        </th>
    </tr>

    <tr>
        <td>@WellCastMessages.Ok.code</td>
        <td>@WellCastMessages.Ok.message</td>
    </tr>
    <tr>
        <td>@WellCastMessages.NonExistingId.code/td>
        <td>@WellCastMessages.NonExistingId.message/td>
<tr>
        <td>@WellCastMessages.InvalidId.code</td>
        <td>@WellCastMessages.InvalidId.message/td>
    </tr>
    <tr>
        <td>@WellCastMessages.Exception.code</td>
        <td>@WellCastMessages.Exception.message</td>
    </tr>

</table>
