@model WellCastServer.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.x)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.x)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.y)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.y)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
