@model IEnumerable<WellCastServer.Models.ConditionSymptom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Condition
        </th>
        <th>
           Symptom
        </th>
        <th>
            SymptomCategory
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.KeyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptom.KeyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptom.SymptomCategory.KeyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
