@model WellCastServer.Models.Symptom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Symptom</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SymptomCategory.KeyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SymptomCategory.KeyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.symptom_category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.symptom_category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KeyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KeyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model._id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model._id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
