@model IEnumerable<WellCastServer.Models.User>
@using WellCastServer.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            Profiles
        </th>
        <th>
            Locations
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
            <td>
            @foreach (Profile profile in item.Profiles)
            {var conditions = profile.ConditionIDs;
                @profile.ID <text>&nbsp</text>
                @profile.Name <text>&nbsp</text>
                @profile.Gender <text>&nbsp</text>
                @profile.Age <text>&nbsp</text>

                foreach (var condition in conditions) { 
                        @condition <text>&nbsp</text> 
                }}
        </td>
        <td>
            @foreach (var location in item.Locations)
            {
                @location.Name <text>&nbsp</text> 
                @location.lat <text>&nbsp</text>               
                @location.lon <text>&nbsp</text>
            }
        </td>
    </tr>
}

</table>
